/* Root Variables */
:root {
    --co-colorsBg: #87CEEB;
    --co-colors1: #87CEEB;
    --co-colors2: #F0F8FF;
}

/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--co-colorsBg);
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

/* Typography */
h1 {
    margin: 0;
    text-align: center;
}

form h2 {
    color: black;
}

p {
    text-align: center;
}

/* Forms */
form {
    margin-top: 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: var(--co-colors1);
    border: 10px solid var(--co-colors2);
}

input {
    border-radius: 10px;
    border: none;
}

input[type="text"], input[type="email"] {
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin: 0;
}

/* Error Messages */
.errors {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.errors li {
    margin: 0;
    font-size: 10px;
}

.success-message {
    font-size: 20px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Comic Neue', cursive;
    display: flex;
    justify-content: space-evenly;
}

header a button {
    border: none;
    background-color: var(--co-colors2);
    height: 35px;
    width: 90px;
}

/* Lists */
ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Chat Container */
.chat-container {
    background-color: var(--co-colors2);
    margin-top: 50px;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Message Container */
.message-container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.message-container button {
    background-color: gray;
    border: none;
    border-radius: 10px;
}

.message-container button img {
    width: 20px;
}

.message-container input {
    width: 80%;
    border: 1px solid black;
}

/* Message List */
#msg-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
    overflow-y: scroll;
    margin-bottom: 20px;
    word-wrap: break-word;
}

#msg-list li {
    padding-left: 40px;
    width: 100%;
    border-bottom: 1px solid gray;
}

/* Room Div */
.room-div {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 220px;
    height: 100px;
    top: 20%;
    left: 70%;
    z-index: 100;
    background-color: var(--co-colorsBg);
    border-radius: 20px;
    border: 5px solid black;
}

@media (max-width: 500px) {
    .room-div {
        left: 0%;
    }
}

/* JR-CM Buttons */
.JR-CM {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#JR-btn, #CM-btn, #RX-btn {
    border-radius: 20px;
    border: none;
    background-color: white;
}

/* RX Div */
.rx-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Rooms Container */
.rooms-container {
    position: absolute;
    display: none;
    background-color: var(--co-colorsBg);
    height: 450px;
    width: 250px;
    border-radius: 20px;
    left: 75%;
    z-index: 150;
    border: 5px solid black;
}

@media (max-width: 500px) {
    .rooms-container {
        left: 0%;
    }
}

/* Room Header */
.r-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 5px solid black;
}

/* Room Creator Div */
#room-creator-div {
    display: none;
    position: absolute;
    left: 25%;
    z-index: 150;
}

@media (max-width: 500px) {
    #room-creator-div {
        left: 0%;
    }
}

#room-creator-div form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid black;
}

@media (max-width: 500px) {
    #room-creator-div form {
        width: 200px;
    }

    #room-creator-div input[type="text"], .joiner-div input[type="text"] {
        width: 180px;
    }
}

#room-creator-div p {
    position: relative;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Room List */
#room-list, #room-list li, #room-list li button {
    width: 100%;
}

#room-list li button {
    height: 30px;
}

#room-list li button:nth-last-child() {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: var(--co-colors2);
}

/* Joiner Div */
.joiner-div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--co-colors1);
    border: 5px solid black;
    border-radius: 20px;
    gap: 10px;
    width: 300px;
}


@media (max-width: 500px) {
    .joiner-div {
        width: 200px;
    }
}

.joiner-div p {
    align-self: flex-end;
    margin: 0 10px 0 0;
}

.joiner-div h2 {
    margin: 0;
}

/* Pagination Controls */
.prev-next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    gap: 10px;
    margin-top: 30px;
}

.prev-next button {
    width: 50px;
    height: 20px;
}

/* My Rooms */
.my-rooms {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--co-colorsBg);
    height: 450px;
    width: 250px;
    border-radius: 20px;
    top: 10%;
    z-index: 150;
    border: 5px solid black;
}

#my-rooms-list, #my-rooms-list li, #my-rooms-list li button, #channels-list li, #channels-list li button {
    width: 100%;
}

#my-rooms-list li button, #channels-list li button {
    height: 30px;
}

#my-rooms-list li button:nth-last-child(), #channels-list li button:nth-last-child() {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: var(--co-colors2);
}

.channels-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
}

#ced {
    border-top-left-radius: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid black;
    overflow: hidden;
}

#ced button{
    border: none;
    background-color: lightgray;
    height: 30px;
    width: 90px;
}

#channels-list {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 2px solid black;
    background-color: lightgray;
    overflow-y: scroll;
    word-wrap: break-word;
    
}

#msg-list {
    grid-column: 2/3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.add-channel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--co-colors1);
    border: 5px solid black;
    width: 250px;
    height: 125px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.add-channel input {
    width: 100px;
    height: 30px;
}

.add-channel button {
    height: 30px;
    width: 80px;
}

.add-channel-h button{
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.add-channel-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.ed-channel {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--co-colorsBg);
    z-index: 999999999;
}

.ed-channel .ed-x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mobile-ch {
    display: none;
    color: white;
}

@media (max-width: 500px) {
    #ced, #channels-list{
        display: none;
        grid: 0/0 0/0;
    }
    #msg-list {
        grid-column: 1/3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .mobile-ch {
        display: block;
    }
}



.name-edit-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#joiner-div #password {
    width: 250px;
    text-align: center;
}

.ed-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--co-colorsBg);
    height: 100vh;
    width: 100vw;
}

.ed-account .ed-x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--co-colors1);
    border: 5px solid black;
    width: 400px;
    height: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.delete-account input {
    width: 200px;
    height: 400
}

.del-x {
    position: absolute;
    top: 10px;
    right: 10px;
}