<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ChatRoom: Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <header>
            {% if chatName %}
            <h1>chatName</h1>
            {% endif %}
            <button id="room-btn">Change Room</button>
            <div class="room-div" id="room-div">
                <button id="JR-btn">Join Room</button>
                <button id="CM-btn">Create Room</button>
                <button id="RX-btn">X</button>
            </div>
            </header>
            <div class="chat-container">
                <ul>

                </ul>
                <div class="message-container">
                <input type= "text" />
                <button><img src="{{ url_for('static', filename='images/send.png') }}" /></button>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="../static/js/script.js" async defer></script>
    </body>
</html>