<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Personal ChatRoom</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <main>
            <div class="container">
            <a href="/" target="_self"><img src="{{ url_for('static', filename='images/logo.png') }}" /></a>
            <h1>ChatRoom</h1>
            {% if request.args.get("success") %}
            <p>{{request.args.get("success")}}</p>
            {% endif %}
            <div class="sn-container">
            <form method="post">
                <h2>Sign In</h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                {{ form.username }}
                {{ form.password }}
                <input type="submit" value="Log In"/>
                <p>Don't have an account?<br><a href="/sign_up" target="_self">Sign Up!</a></br></p>
            </form>
            </div>
            </div>
        </main>
    </body>
</html>