<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ChatRoom: Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body onload="connect_to_server()">
        <main>
            <div class="container">
                <a href="/" target="_self"><img src="{{ url_for('static', filename='images/logo.png') }}" /></a>
                <h1>ChatRoom</h1>
                <div class="sn-container">
                <form id = "sign-up" method="post">
                    
                    <h2>Sign Up</h2>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {{ form.username }}
                    {% if form.username.errors %}
                    <ul class="errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="submit" value="Sign Up!"/>
                    
                </form>
                </div>
                </div>
        </main>
    </body>
</html>